<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Angular JS</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src='./app.js'></script>

  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body ng-app="myApp">
  <div ng-controller="DemoCtrl as demo">
  
  <div class="row" 
       style="margin-left: 20px; margin-right: 20px; margin-top: 50px">

    <div class="col-sm-1"></div>
      <div class="col-sm-5">
          <textarea class="form-control"
                    ng-model="demo.jsonOne"
                    rows="20" 
                    cols="50">
            </textarea>
        </div>
        <div class="col-sm-5">
            <textarea class="form-control" 
                      ng-model="demo.jsonTwo"
                      rows="20" 
                      cols="50"> 
            </textarea>
        </div>
        <div class="col-sm-1"></div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                    <button style="margin-top: 20px; font-weight: 1000"
                    ng-click="demo.compareJson()" 
                    class="form-control btn btn-success">
                Compare
            </button>
    
            <div ng-if="demo.errorOccured">
                <h2 style="color: red">ERROR with code "{{demo.errorOccured}}"</h2>
            </div>
            <div ng-if="demo.compareSuccess && !demo.errorOccured">
                    <h2 style="color: green">Success</h2>
            </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
   
</div>

</body>
</html>